*.py[cod]
config/config.cfg

# Klemen's annoying vim swap files
*.swp

# Singularity image
singularity/centos7/buildhost.simg

# Slurm output files and log files
jobscripts/peregrine/slurm-*.out
jobscripts/habrok/slurm-*.out
jobscripts/peregrine/2023-*/
jobscripts/habrok/*.log

# Temporary jobscript (Cristian)
jobscripts/habrok/jobscript.sh
